/* Estilos básicos para el diseño */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('/Img/sobrenosotros/code fu panda.png');
    background-size: cover;
    background-position: center;   
}

header {
    z-index: 1000;
}

main  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
section {
    margin-bottom: 20px;
}
#history {
    background-color: rgba(240, 248, 255, 0.8); /* Color de fondo con 80% de opacidad (ajusta los valores según sea necesario) */
    text-align: center;       /* Centra el texto */
    font-size: 1.5em;         /* Tamaño de fuente más grande */
    padding: 20px;           /* Espaciado interno */
    border-radius: 8px;      /* Esquinas redondeadas */
    margin: 20px auto;       /* Margen automático */
    max-width: 80%;          /* Limita el ancho máximo del bloque */
}
#about {
    background-color: rgba(240, 248, 255, 0.8); /* Color de fondo con 80% de opacidad (ajusta los valores según sea necesario) */
    text-align: center;       /* Centra el texto */
    font-size: 1.5em;         /* Tamaño de fuente más grande */
    padding: 20px;           /* Espaciado interno */
    border-radius: 8px;      /* Esquinas redondeadas */
    margin: 20px auto;       /* Margen automático */
    max-width: 80%;          /* Limita el ancho máximo del bloque */
}

#panda {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

h2.text-center.mb-4 {
    background-color: rgba(7, 7, 7, 0.4);
    color: #F2F1F0; 
    font-size: 38px; 
    
}